body{
    font-size: 21px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container{
    width: 570px;
    margin: 0 auto;
  
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px auto;
}
section{
   padding: 100px 0;
}
.bold-text, time{
    font-weight: 900;
    display: block;
    color: #99D930;
}
h1,
h2,
h3{
    font-weight: 300;
    margin: 0;
}
p{
    margin-bottom: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    padding: 20px;
    margin: 20px;
}
h3{
    font-size: 36px;
   
}

.section-two{
   background: #FFEAEA;
}
.inverse{
    background: #252525;
    color: #fff;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    font-weight: bold;
    margin: 20px;
    font-size: 18px;
    border: none;
}
.btn-accent{
    background: #99D930;
    color: #252525;
}
.btn-dark{
    background: #99D930;
    color: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
    background: #fff;
    color: #252525;
}


.btn:hover,
.btn:focus {
    background: #252525;
    color: #fff;
}